<!-- <link rel="stylesheet" href="/css/feedback.css"> -->

<main id="main">

    <section id="list-of-feedbacks">
        <%- include('../../partials/_listOfFeedbacks.ejs',{feedbacks:locals.feedbacks,feedbackWithoutPopulate,admin}) -%>
    </section>

    <section id="feedback-modal-btn-container">
      <%- include('../../partials/_addFeedbackModal.ejs',{employees}) -%>
    </section>

</main>

