<main>
   
  <h2>Assign task to employee to participate in other feedback</h2>

  <section id="feedback-form-container">
    <!-- Button trigger modal -->
       <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Task Form</h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="select" class="form-label">To:</label>
                    <select name="to" id="select" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="select" class="form-label">To:</label>
                    <select name="to" id="select" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit Feedback</button>
            </div>
        </div>
        
    </div>
</section>

</main>