<main>
    <h2>List of all Employees</h2>
    <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">IsAdmin</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider bg-primary">
          <tr>
            <th>1</th>
            <td scope="row">Mark</td>
            <td>sam@123</td>
            <td>@mdo</td>
            <td>No</td>
            <td>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td scope="row">Jacob</td>
            <td>sam@123</td>
            <td>@fat</td>
            <td>Yes</td>
            <td>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td scope="row">Larry the Bird</td>
            <td>sam@123</td>
            <td>@mdo</td>
            <td>No</td>
            <td>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>

    <section id="feedback-form-container">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add Other Employee
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog ">
          <div class="modal-content">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback Form</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3" action="/signup" method="post">
                  <div class="mb-3 form-check" style="margin-left: 40%;">
                    <input type="checkbox" class="form-check-input" id="isAdmin" onclick="visiblePass()">
                    <label class="form-check-label" for="isAdmin"><strong>Yes, i am Admin</strong></label>
                  </div>
                  <div class="col-md-12">
                    <label for="employeeName" class="form-label">Employee Name / Admin Name</label>
                    <input placeholder="@employee name" type="text" class="form-control" id="employeeName" name="name">
                  </div>
                  <div class="col-md-12">
                    <label for="employeeEmail" class="form-label">Email</label>
                    <input placeholder="email" type="email" class="form-control" id="employeeEmail" name="email">
                    <div class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="col-md-6">
                    <label for="employeePassword" class="form-label">Password</label>
                    <input placeholder="password" type="password" class="form-control" id="employeePassword" name="password">
                  </div>
                  <div class="col-md-6">
                    <label for="employeeConfirmPassword" class="form-label">Confirm Password</label>
                    <input placeholder="confirm password" type="password" class="form-control" id="employeeConfirmPassword"
                      name="confirm_password">
                  </div>
                  <div class="mb-3 form-check" style="margin-left: 20px;">
                    <input type="checkbox" class="form-check-input" id="showPassword" onclick="visiblePass()">
                    <label class="form-check-label" for="showPassword"><small style="color: gray;">Show Password</small></label>
                  </div>
                </form>
        
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-primary">Add Employee</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
          </div>
      </div>
  </section>

</main>

<script>
  function visiblePass() {
    var password = document.getElementById("employeePassword");
    var confirm_password = document.getElementById("employeeConfirmPassword");
    if (password.type === "password") {
      password.type = "text";
      confirm_password.type = "text";
    } else {
      password.type = "password";
      confirm_password.type = "password";
    }
  }
</script>