<style>
    #employee{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>

<main>
    <section id="feedback-form-container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Review Other Employee
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">From:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" disabled placeholder="name@example.com"
                        name="from"
                        value="">
                    </div>
                    <div class="mb-3">
                        <label for="select" class="form-label">To:</label>
                        <select name="to" id="select" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Performance Feedback</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="feedback"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit Feedback</button>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section id="list-of-feedbacks">
        <div class="card">
            <h5 class="card-header">Feedback: 1 </h5>
            <div class="card-body">
              <h5 class="card-title">From: Anshi323</h5>
              <p class="card-text"><i>Message: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi quaerat. Repellat architecto dolores possimus quas sint, quasi ad perferendis cumque! Quod cupiditate voluptates adipisci temporibus nemo quibusdam repellendus commodi.</i></p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Feedback: 1 </h5>
            <div class="card-body">
              <h5 class="card-title">From: Anshi323</h5>
              <p class="card-text"><i>Message: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi quaerat. Repellat architecto dolores possimus quas sint, quasi ad perferendis cumque! Quod cupiditate voluptates adipisci temporibus nemo quibusdam repellendus commodi.</i></p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Feedback: 1 </h5>
            <div class="card-body">
              <h5 class="card-title">From: Anshi323</h5>
              <p class="card-text"><i>Message: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi quaerat. Repellat architecto dolores possimus quas sint, quasi ad perferendis cumque! Quod cupiditate voluptates adipisci temporibus nemo quibusdam repellendus commodi.</i></p>
            </div>
        </div>

      
    </section>

</main>